<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Booked</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            overflow: hidden;

        }
        .center{
            width: 80%;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        a{
            color: #d19e00;
        }
    </style>
</head>
<body>
    <div class="center">
        <img src="download.png" alt="company logo" srcset="">
        <h2 style="color: #d19e00;">
            Meeting Booked
        </h2><br>
        Please kindly view your email for details. <br><br>
        <a href="https://real-estate-frontend-self.vercel.app/">Return To Site</a>
    </div>
</body>
</html>